body {
    background: #3A698C url('../img/noise.png');
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 0 auto;
    width: 700px;
}

body, a {
    color: #fff;
}

h1 {
    font-size: 1.4em;
    letter-spacing: .03em;
    margin-bottom: 0;
    text-align: center;
}

p {
    line-height: 1.5;
    margin: .8rem 0 .6rem;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
}

li:first-child {
    margin-left: 0;
}

/* External site button and label */
li a {
    display: block;
    font-size: 1.1em;
    padding: .9em;
    text-decoration: none;
}

/* External site label */
li h2 {
    font-size: .8rem;
    font-weight: normal;
    margin: .5em 0;
}


/*** Icons ***/

#sites a:before {
    font-family: FontAwesome;
}

#blog a:before {
    content: '\f022';
}

#github a:before {
    content: '\f09b';
}

#twitter a:before {
    content: '\f099';
}

#linkedin a:before {
    content: '\f08c';
}

#email a:before {
    content: '\f0e0';
}


/*** Vertically center ***/

html {
    height: 100%;
    width: 100%;
}

body {
    display: table;
    height: 100%;
}

#wrap {
    display: table-cell;
    vertical-align: middle;
}

#introduction {
    margin-top: -1em;
}
