body {
    background: #3A698C url('../img/noise.png');
    font-family: Helvetica, Arial, sans-serif;

    /* These properties need to be set on the body, rather than on #wrap,
       because the body is displayed as a table cell. See the section below on
       vertical centering. */
    margin: 0 auto;
    width: 700px;
}

body, a {
    color: #fff;
}

h1 {
    letter-spacing: 1px;
    margin-bottom: 0;
    text-align: center;
}

p {
    font-size: 24px;
    line-height: 1.2;
    margin: 15px 0 18px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 10px;
}

li:first-child {
    margin-left: 0;
}

li a {
  display: block;
  padding: 12px;
  text-decoration: none;
}

li h2 {
  font-size: 13px;
  font-weight: normal;
  margin: .5em 0;
}

/*** Icons ***/

#sites a:before {
    font-family: FontAwesome;
}

#sites li {
    font-size: 25px;
}

#blog a:before {
    content: '\f022';
}

#github a:before {
    content: '\f09b';
}

#twitter a:before {
    content: '\f099';
}

#linkedin a:before {
    content: '\f08c';
}

#email a:before {
    content: '\f0e0';
}

/*** Vertically center ***/

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: table;
}

#wrap {
    display: table-cell;
    vertical-align: middle;
}

#introduction {
    margin-top: -20px;
}
