RewriteEngine on

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force non-www
RewriteCond %{HTTP_HOST} ^www\.openjck\.com [NC]
RewriteRule (.*) https://openjck.com/$1 [R=301,L]
